
<h1> The team list that score higher in the first half than the second half.</h2>
<% teams = Team.all 
   teams.each do |team| 
    if  team.is_bigger %>
		  <div> Team id : <%= team.id  %>      
	      <div> First half : 
	      <%=  team.second_half  %>
	      </div>
	      <div> Second half : 
	      <%=  team.first_half %>
	      </div>
	      <hr/>
    <% end %>          
<% end %>

